@charset "utf-8";
/* CSS Document */
.top{
    width: 100%;
    height: 500px;
    background-color: #000000;
}
.center{

}
.botton{
    width: 100%;
    height: 500px;
    background-color: #940002;
}
.pen{
    background-color: #044154;
    width: 100%;
    height: 800px;
}