

.can{
	width: 100%;
	height: 100%;
	background: #6c7fbe;
}
.title_div{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color:#6c7fbe;
	padding: 40px;
}
.right{
 float: right;
 margin-right:100px;
}
.card{
	height:800px;
	width:1000px;
	background-color: #FFFFFF;
	background-clip: border-box;
	border: 3px dotted #9dc6ff;
	border-radius: 7px;
	box-shadow: 1px 1px 2px #a7a8ad;
	margin: 50px auto;
}
.left{
 margin-left: 100px;
 float: left;
}
.title_div1{
	width: 1000px;
	font-size: 20px;
	font-weight: bold;
    background-color: #f1eefc; 
	text-align: center;	
	height: 50px;
	vertical-align: inherit;
	padding-top: 25px;
	}
	
.p_1{
	margin: auto 25px;
}

.h{
	border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

.title_div2{
	width: 850px;
	margin:20px 25px;
}

.content{
	margin:0px 25px;
}
.content1{
	margin:30px 50px;
}
.foot{
	width: 100%; 
	height: 200px;
	clear: both; 
	text-align: center;
	padding-top: 200px;
}
.attention{
	width: 100%;
	height: 100px;
	clear: both; 
	margin-left: 75px;
	padding-top: 30px;
	color: crimson;
}